/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

/* Components */
@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/notification.css");
@import url("components/tabs.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Helvetica", "sans-serif";
  background-color: #f7f7f7;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 24px auto;
}

a {
  text-decoration: none;
  color: #268BD2;
}

small {
  font-size: smaller;
}
